<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Southern style restaurant in Texas">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Pecan Grill Overton restaurant" />
    <meta property="og:description" content="Delicious southern food restaurant" />
    <title>TFR</title>
    <link rel="stylesheet" href="./homepage-style.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <header>
        <div class="top-cont">
          <!-- Remove this comment at last
          <figure>
            <img
              class="pg-logo"
              src="./assets/PecanGrill-homepage-header-logo.svg"
              alt="Pecan Grill Logo"
            />
          </figure>-->
          <div>THE FAMILY RESTAURANT</div>
          <a href="#" class="reservation-btn" aria-label="Reservations">Reservations</a>
        </div>
        <div class="hero-cont">
          <!--Remove at last
          <div class="pg-logo-round">
            <figure>
              <img
                src="./assets/PecanGrill-homepage-pecan-grill-logo.svg"
                alt="Pecan grill restaurant"
              />
            </figure>
          </div>
          -->
          <div class="welcome-text">Welcome to our website, USER!!</div>

          <div class="hero-btn-cont">
            <a href="#" class="menu-btn" aria-label="Our Menus">Order Now</a>
            <a href="#" class="hours-btn" aria-label="Hours of operations">Read More...</a>
          </div>

          <div class="down-arrow">
            <a href="#menu-section">
              <img
                src="./assets/icons8-expand-arrow-50.png"
                alt="Chevron Arrow"
            /></a>
          </div>
        </div>
      </header>

      <main>
        <!-- MENU SECTION -->
        <section class="menu" id="menu-section">
          <div class="menu-left">
            <article class="menu-article">
              <h1 class="menu-h1">
                PULL UP A CHAIR & RELAX<br>
              </h1>
              <p class="menu-p">
                The Family Restaurant's Yang’s Kitchen strives to source local, sustainable and organic when possible. We work hard to source premium ingredients and we cook everything from scratch with love. We also do our best to pay our employees living wages (tips are shared with all employees, including kitchen staff) and to reduce our environmental footprint wherever we can. Overall, these factors translate to higher menu prices, but we hope that you find value and feel a sense of comfort in knowing that we aim to get better eve.
              </p>
              <a href="#" class="breakfast-menu-btn" aria-label="Breakfast menu">View More...</a>
            </article>
          </div>
          <div class="menu-right">
            <img
              src="./assets/background-image-second.jpeg"
              alt="appetizer display"
              width="300px"
            />
          </div>
        </section>
        <!-- REVIEWS SECTION -->
        <section class="reviews">
          <div class="arrow-left">
            <img
              src="./assets/icons8-less-than-50.png"
              alt="less than by icons8 "
            />
          </div>
          <div class="review-heading-cont">
            <h2 class="review-heading">Reviews</h2>
          </div>
          <div class="review-cont">
            <blockquote class="cust-review">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              recusandae voluptas reprehenderit sunt cum eius vitae placeat
              architecto"
            </blockquote>
          </div>
          <div class="reviewer-cont">
            <p>-Akash Pal</p>
          </div>

          <div class="arrow-right">
            <img
              src="./assets/icons8-more-than-50.png"
              alt="more than by icons8"
            />
          </div>
        </section>
        <!-- FOOTER -->
        <footer>
          <div class="footer-cont">
            <div class="footer-contact">
              <p class="footer-reservations"><b>Reservations:</b></p>
              <p class="footer-phone"><a class="contact-phone">99107XXXXX</p></a>
              <p class="footer-address">
                The Family Restaurant<br />Dwarka<br />New Delhi, India 110059
              </p>
            </div>
            <div class="footer-social">
              <img
                src="./assets/PecanGrill-homepage-footer-social-media-icons.svg"
                alt=""
              />
            </div>
          </div>
          <div class="footer-cont2">
            <div class="cr-cont">
              <p>&copy; Copyright © 2024 .All rights reserved by Akash Pal</p>
            </div>
            <div class="pp-cont">
              <a href="#">Privacy Policy</a>
            </div>
            <div class="sm-cont">
              <a href="#">Sitemap</a>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
